<app-container>
  <button (click)="openX()">open modal</button>  
  <app-modal [isModalOpen]="isOpend" (close)="closeX('$event')"  >
          <div class="title">
                  title
              </div>
              <div class="content">
                     
                    
           
                      sereen<br>
                      sereen<br>
                     
                     
               </div> 
  </app-modal>
  <div >

          
          
  </div>
  
</app-container>